<div class="index">
  <p id="notice"><%= notice %></p>

  <table class="container table table-striped table-bordered">
    <thead>
      <tr class="row">
        <th class="col-3">Name</th>
        <th class="col-3">Thumbnail</th>
        <th class="col-3">Stitched?</th>
        <th class="col-3"></th>
      </tr>
    </thead>

    <tbody>
      <% @user_images.each do |user_image| %>
        <tr class="row font-weight-light">
          <td class="col-3"><%= link_to user_image.name, user_image %></td>
          <td class="col-3">
            <% if user_image.stitch_pic.url %>
              <%= image_tag user_image.stitch_pic.thumb.url %>
            <% end %>
          </td>
          <td class="col-3">
            <% if user_image.stitched_file? %>
              <strong>yes!</strong>
            <% else %>
              no
            <% end %>
          </td>
          <td class="col-3"><%= link_to 'Edit', edit_user_image_path(user_image) %>
            /
            <%= link_to 'Destroy', user_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </div>
</div>