<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_image.name %>
</p>

<p>
  <strong>Stitch pic:</strong>
  <%= @user_image.stitch_pic %>
</p>

<% if @user_image.stitch_pic.url %>
  <p>
    <%= image_tag @user_image.stitch_pic.thumb.url %>
  </p>
<% end %>

<p>
  <strong>Stitchified!</strong>
</p>

<% if @user_image.stitched_file? %>
  <p>
    <%= svg @user_image.stitch_path %>
  </p>
<% end %>

<%= link_to 'Edit', edit_user_image_path(@user_image) %> |
<%= link_to 'Back', user_images_path %>
